.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pic{
    width: 200px;
    height: 250px;
    margin-top: 20px;
}
.title{
    font-size: 20px;
    font-weight: 700;
}
.summay{
    font-size: 13px;
    margin: 10px;
}