.content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.wrap{
    width: 150px;
    height: 200px;
}
.pic{
    width: 150px;
    height: 150px;
}
a{
    color: black;
    text-decoration: none;
}